Page {
    background-color: #FFF0A5;
    font-size: 15;
    font-family: 'OpenSans';
    color: black;
}

.big-text {
    font-size: 40;
}

.song-item-label {
    font-size: 16;
    width: 100%;
}

.song-title {
    font-size: 20;
    font-weight: 'bold';
}

.middle-text {
    font-size: 35;
}

Image {
    margin-top: 25;
    margin-left: 60;
    margin-right: 60;
}

Label {
    text-align: center;
}

.score-label {
    background-color: #468966;
    color: #FFF0A5;
    width: 100;
    height: 100;
    border-radius: 50;
}

.menu-button {
    margin-top: 40;
    width: 175;
    height: 75;
    font-size: 24;
    font-weight: "bold";
    border-radius: 10;
    background-color: #FFB03B;
}

.tempo-container {
    height: 50%;
    width: 100%;
}

.tempo  {
    width: 7.5;
    height: 350;
    border-radius: 5;
    background-color: #ECF0F1;
    opacity: 0.65;
}

ActionBar {
    background-color: #FFB03B;
    font-family: 'OpenSans';
}

#tutorialLayout {
    height: 100%;
    width: 100%;
}

.song-picker {
    height: 100%;
    width: 100%;
    background-color: #FFF0A5;
}

.false-detection {
    background-color: #8E2800;
    color: #FFF0A5;
}

.correct-detection {
    background-color: #468966;
    color: #FFF0A5;
}